@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Raleway&display=swap');
:root {
    --color-nav-main: #16507b;
    --color-nav-secondary: #2487ce;
    --color-hero-main: #124265;
    --color-hero-secondary: #5e5e5e;
    --color-services-main: #2487ce;
    --color-services-secondary: #444444;
    --color-button: #2487ce;
    --font-nav: 'Open Sans', sans-serif;
    --font-hero: 'Poppins', sans-serif;
    --font-hero-secondary: 'Raleway', sans-serif;
    --font-services: 'Raleway', sans-serif;
    --font-services-secondary: 'Open Sans', sans-serif;
    --font-button: 'Raleway', sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}