.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-nav);
    background-color: white;
    border-radius: 5px 5px 0 0;
    padding: 0 1rem
}

.logo {
    font-size: 18px;
}

nav {
    font-size: 14px;
    margin-left: 5rem;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>* {
    list-style: none;
    margin-inline: 1rem;
}

.drop {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
}

.drop::after {
    content: '>';
    position: absolute;
    transform: rotate(90deg);
    left: 2px
}

.flex {
    display: flex;
}